Repository BrewingBytes/Brewget, changes with the labels that .github/labeler.yml gives for each.
All labels: Workflow, Frontend, AuthService, EmailService

fix: docker email build
  .github/workflows/backend-build-docker.yml
  backend/Dockerfile
Labels: Workflow

fix: docker email build (#8)
  .github/workflows/backend-build-docker.yml
  backend/Dockerfile
Labels: Workflow

chore: bump email-service to 0.0.2
  backend/Cargo.lock
  backend/email-service/Cargo.toml
Labels: EmailService

chore: bump email-service to 0.0.2 (#9)
  backend/Cargo.lock
  backend/email-service/Cargo.toml
Labels: EmailService

feat: send email on account registering
  .DS_Store
  backend/.DS_Store
  backend/Cargo.lock
  backend/auth-service/Cargo.toml
  backend/auth-service/build.rs
  backend/auth-service/src/app_state.rs
  backend/auth-service/src/grpc.rs
  backend/auth-service/src/grpc/email_service.rs
  backend/auth-service/src/main.rs
  backend/auth-service/src/routes.rs
  backend/auth-service/src/routes/register.rs
  backend/proto/email_service.proto
Labels: AuthService

fix: linter
  backend/auth-service/src/app_state.rs
  backend/auth-service/src/grpc/email_service.rs
  backend/auth-service/src/routes.rs
  backend/auth-service/src/routes/register.rs
Labels: AuthService

feat: create activation links and require activating account
  backend/Cargo.lock
  backend/auth-service/Cargo.toml
  backend/auth-service/migrations/2025-08-13-171838_create_users/up.sql
  backend/auth-service/migrations/2025-08-18-113608_create_verification_links/down.sql
  backend/auth-service/migrations/2025-08-18-113608_create_verification_links/up.sql
  backend/auth-service/migrations/2025-08-18-143130_create_token_user_last_login_trigger/down.sql
  backend/auth-service/migrations/2025-08-18-143130_create_token_user_last_login_trigger/up.sql
  backend/auth-service/src/database.rs
  backend/auth-service/src/database/activation_links.rs
  backend/auth-service/src/database/users.rs
  backend/auth-service/src/models.rs
  backend/auth-service/src/models/activation_link.rs
  backend/auth-service/src/models/token.rs
  backend/auth-service/src/models/user.rs
  backend/auth-service/src/routes.rs
  backend/auth-service/src/routes/activate.rs
  backend/auth-service/src/routes/health.rs
  backend/auth-service/src/routes/login.rs
  backend/auth-service/src/routes/logout.rs
  backend/auth-service/src/routes/register.rs
  backend/auth-service/src/schema.rs
Labels: AuthService

feat: lint
  backend/auth-service/src/models/user.rs
  backend/auth-service/src/routes/activate.rs
  backend/auth-service/src/schema.rs
Labels: AuthService

Create verification email for Account Registering (#10)
  .DS_Store
  backend/.DS_Store
  backend/Cargo.lock
  backend/auth-service/Cargo.toml
  backend/auth-service/build.rs
  backend/auth-service/migrations/2025-08-13-171838_create_users/up.sql
  backend/auth-service/migrations/2025-08-18-113608_create_verification_links/down.sql
  backend/auth-service/migrations/2025-08-18-113608_create_verification_links/up.sql
  backend/auth-service/migrations/2025-08-18-143130_create_token_user_last_login_trigger/down.sql
  backend/auth-service/migrations/2025-08-18-143130_create_token_user_last_login_trigger/up.sql
  backend/auth-service/src/app_state.rs
  backend/auth-service/src/database.rs
  backend/auth-service/src/database/activation_links.rs
  backend/auth-service/src/database/users.rs
  backend/auth-service/src/grpc.rs
  backend/auth-service/src/grpc/email_service.rs
  backend/auth-service/src/main.rs
  backend/auth-service/src/models.rs
  backend/auth-service/src/models/activation_link.rs
  backend/auth-service/src/models/token.rs
  backend/auth-service/src/models/user.rs
  backend/auth-service/src/routes.rs
  backend/auth-service/src/routes/activate.rs
  backend/auth-service/src/routes/health.rs
  backend/auth-service/src/routes/login.rs
  backend/auth-service/src/routes/logout.rs
  backend/auth-service/src/routes/register.rs
  backend/auth-service/src/schema.rs
  backend/proto/email_service.proto
Labels: AuthService

feat: send forgot password email in email service
  backend/email-service/emails/forgot_password_template.html
  backend/email-service/src/service.rs
  backend/proto/email_service.proto
Labels: EmailService

feat: add forgot password and change password to the auth service
  backend/auth-service/migrations/2025-08-18-174746_create_forgot_password_links/down.sql
  backend/auth-service/migrations/2025-08-18-174746_create_forgot_password_links/up.sql
  backend/auth-service/src/app_state.rs
  backend/auth-service/src/database.rs
  backend/auth-service/src/database/forgot_password_links.rs
  backend/auth-service/src/database/users.rs
  backend/auth-service/src/models.rs
  backend/auth-service/src/models/activation_link.rs
  backend/auth-service/src/models/forgot_password_link.rs
  backend/auth-service/src/models/request.rs
  backend/auth-service/src/models/request/forgot_password_info.rs
  backend/auth-service/src/models/request/reset_password_info.rs
  backend/auth-service/src/models/token.rs
  backend/auth-service/src/models/user.rs
  backend/auth-service/src/routes.rs
  backend/auth-service/src/routes/change_password.rs
  backend/auth-service/src/routes/forgot_password.rs
  backend/auth-service/src/schema.rs
Labels: AuthService

feat: more comments
  backend/auth-service/src/app_state.rs
  backend/auth-service/src/routes/change_password.rs
  backend/auth-service/src/routes/register.rs
  backend/auth-service/src/utils/password.rs
  backend/docker-compose.yaml
Labels: AuthService

Implement Forgot Password (#11)
  backend/auth-service/migrations/2025-08-18-174746_create_forgot_password_links/down.sql
  backend/auth-service/migrations/2025-08-18-174746_create_forgot_password_links/up.sql
  backend/auth-service/src/app_state.rs
  backend/auth-service/src/database.rs
  backend/auth-service/src/database/forgot_password_links.rs
  backend/auth-service/src/database/users.rs
  backend/auth-service/src/models.rs
  backend/auth-service/src/models/activation_link.rs
  backend/auth-service/src/models/forgot_password_link.rs
  backend/auth-service/src/models/request.rs
  backend/auth-service/src/models/request/forgot_password_info.rs
  backend/auth-service/src/models/request/reset_password_info.rs
  backend/auth-service/src/models/token.rs
  backend/auth-service/src/models/user.rs
  backend/auth-service/src/routes.rs
  backend/auth-service/src/routes/change_password.rs
  backend/auth-service/src/routes/forgot_password.rs
  backend/auth-service/src/routes/register.rs
  backend/auth-service/src/schema.rs
  backend/auth-service/src/utils/password.rs
  backend/docker-compose.yaml
  backend/email-service/emails/forgot_password_template.html
  backend/email-service/src/service.rs
  backend/proto/email_service.proto
Labels: AuthService, EmailService

chore: update email service and auth service
  backend/Cargo.lock
  backend/auth-service/Cargo.toml
  backend/auth-service/migrations/2025-08-18-174746_create_forgot_password_links/down.sql
  backend/email-service/Cargo.toml
Labels: AuthService, EmailService

chore: update email service and auth service (#12)
  backend/Cargo.lock
  backend/auth-service/Cargo.toml
  backend/auth-service/migrations/2025-08-18-174746_create_forgot_password_links/down.sql
  backend/email-service/Cargo.toml
Labels: AuthService, EmailService

feat: remove strings and use configs
  backend/auth-service/src/config.rs
  backend/auth-service/src/main.rs
  backend/auth-service/src/models/activation_link.rs
  backend/auth-service/src/models/forgot_password_link.rs
  backend/auth-service/src/models/response/health.rs
  backend/auth-service/src/routes.rs
  backend/auth-service/src/routes/forgot_password.rs
  backend/auth-service/src/routes/health.rs
  backend/auth-service/src/routes/logout.rs
  backend/auth-service/src/routes/register.rs
  backend/email-service/src/config.rs
  backend/email-service/src/main.rs
Labels: AuthService, EmailService

feat: remove strings and use configs (#13)
  backend/auth-service/src/config.rs
  backend/auth-service/src/main.rs
  backend/auth-service/src/models/activation_link.rs
  backend/auth-service/src/models/forgot_password_link.rs
  backend/auth-service/src/models/response/health.rs
  backend/auth-service/src/routes.rs
  backend/auth-service/src/routes/forgot_password.rs
  backend/auth-service/src/routes/health.rs
  backend/auth-service/src/routes/logout.rs
  backend/auth-service/src/routes/register.rs
  backend/email-service/src/config.rs
  backend/email-service/src/main.rs
Labels: AuthService, EmailService

feat: add initial frontend structure
  .gitignore
  frontend/.editorconfig
  frontend/.gitignore
  frontend/.prettierrc.json
  frontend/.vscode/extensions.json
  frontend/README.md
  frontend/bun.lockb
  frontend/components.d.ts
  frontend/env.d.ts
  frontend/eslint.config.js
  frontend/index.html
  frontend/package.json
  frontend/public/favicon.ico
  frontend/src/App.vue
  frontend/src/assets/base.css
  frontend/src/assets/logo.svg
  frontend/src/assets/main.css
  frontend/src/components/HelloWorld.vue
  frontend/src/components/TheWelcome.vue
  frontend/src/components/WelcomeItem.vue
  frontend/src/components/icons/IconCommunity.vue
  frontend/src/components/icons/IconDocumentation.vue
  frontend/src/components/icons/IconEcosystem.vue
  frontend/src/components/icons/IconSupport.vue
  frontend/src/components/icons/IconTooling.vue
  frontend/src/main.ts
  frontend/src/router/index.ts
  frontend/src/stores/counter.ts
  frontend/src/views/AboutView.vue
  frontend/src/views/HomeView.vue
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: Frontend

feat: setup dependabot
  .github/dependabot.yml
Labels: none

feat: more changes
  frontend/bun.lockb
  frontend/components.d.ts
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/TheWelcome.vue
  frontend/src/components/WelcomeItem.vue
  frontend/src/components/icons/IconCommunity.vue
  frontend/src/components/icons/IconDocumentation.vue
  frontend/src/components/icons/IconEcosystem.vue
  frontend/src/components/icons/IconSupport.vue
  frontend/src/components/icons/IconTooling.vue
  frontend/src/main.ts
  frontend/src/router/index.ts
  frontend/src/stores/auth.ts
  frontend/src/stores/counter.ts
  frontend/src/views/AboutView.vue
  frontend/src/views/AuthView.vue
  frontend/src/views/HomeView.vue
Labels: Frontend

feat: add login, register, forgotpassword pages
  frontend/bun.lockb
  frontend/components.d.ts
  frontend/index.html
  frontend/package.json
  frontend/src/App.vue
  frontend/src/assets/main.css
  frontend/src/components/AuthGlass.vue
  frontend/src/components/HelloWorld.vue
  frontend/src/stores/auth.ts
  frontend/src/views/AuthView.vue
  frontend/src/views/HomeView.vue
  frontend/vite.config.ts
Labels: Frontend

fix: possible bugs
  frontend/eslint.config.js
  frontend/src/main.ts
  frontend/src/router/index.ts
Labels: Frontend

feat: add frontend github ci
  .github/workflows/vue.yml
  frontend/.prettierrc.json
  frontend/bun.lockb
  frontend/components.d.ts
  frontend/package.json
  frontend/tsconfig.node.json
Labels: Workflow, Frontend

feat: add frontend build to ci
  .github/workflows/backend-build-docker.yml
  .github/workflows/frontend-build-docker.yml
  frontend/Dockerfile
  frontend/nginx.conf
Labels: Workflow, Frontend

feat: fix latest
  .github/workflows/frontend-build-docker.yml
  .github/workflows/vue.yml
  frontend/Dockerfile
  frontend/package.json
Labels: Workflow, Frontend

Feat: add primevue frontend (#15)
  .github/dependabot.yml
  .github/workflows/backend-build-docker.yml
  .github/workflows/frontend-build-docker.yml
  .github/workflows/vue.yml
  .gitignore
  frontend/.editorconfig
  frontend/.gitignore
  frontend/.prettierrc.json
  frontend/.vscode/extensions.json
  frontend/Dockerfile
  frontend/README.md
  frontend/bun.lockb
  frontend/components.d.ts
  frontend/env.d.ts
  frontend/eslint.config.js
  frontend/index.html
  frontend/nginx.conf
  frontend/package.json
  frontend/public/favicon.ico
  frontend/src/App.vue
  frontend/src/assets/base.css
  frontend/src/assets/logo.svg
  frontend/src/assets/main.css
  frontend/src/components/AuthGlass.vue
  frontend/src/main.ts
  frontend/src/router/index.ts
  frontend/src/stores/auth.ts
  frontend/src/views/AuthView.vue
  frontend/src/views/HomeView.vue
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: Workflow, Frontend

feat: improve docker image size
  .DS_Store
  .gitignore
  backend/.DS_Store
  backend/Cargo.lock
  backend/Dockerfile
  backend/auth-service/Cargo.toml
  backend/auth-service/Dockerfile
  backend/email-service/.DS_Store
  backend/email-service/Cargo.toml
  backend/email-service/Dockerfile
Labels: AuthService, EmailService

feat: update to rust 1.90
  backend/rust-toolchain.toml
Labels: none

Improve Docker image sizes (#21)
  .DS_Store
  .gitignore
  backend/.DS_Store
  backend/Cargo.lock
  backend/Dockerfile
  backend/auth-service/Cargo.toml
  backend/auth-service/Dockerfile
  backend/email-service/.DS_Store
  backend/email-service/Cargo.toml
  backend/email-service/Dockerfile
  backend/rust-toolchain.toml
Labels: AuthService, EmailService

fix: backend docker build
  .github/workflows/backend-build-docker.yml
  backend/Dockerfile
Labels: Workflow

fix: backend docker build (#23)
  .github/workflows/backend-build-docker.yml
  backend/Dockerfile
Labels: Workflow

feat: move docker compose to latest ghcr images
  .github/workflows/rust.yml
  backend/docker-compose.yaml
Labels: Workflow

feat: move docker compose to latest ghcr images (#24)
  .github/workflows/rust.yml
  backend/docker-compose.yaml
Labels: Workflow

feat: improve backend build docker
  .github/workflows/backend-build-docker.yml
Labels: Workflow

feat: improve backend build docker (#25)
  .github/workflows/backend-build-docker.yml
Labels: Workflow

feat: move nginx from frontend
  .github/workflows/backend-build-docker.yml
  docker-compose.yaml
  frontend/Dockerfile
  nginx/conf.d/default.conf
  nginx/nginx.conf
Labels: Workflow, Frontend

feat: move nginx from frontend (#27)
  .github/workflows/backend-build-docker.yml
  docker-compose.yaml
  frontend/Dockerfile
  nginx/conf.d/default.conf
  nginx/nginx.conf
Labels: Workflow, Frontend

feat: add ui for forgot password ui
  frontend/components.d.ts
  frontend/src/components/ForgotPasswordGlass.vue
  frontend/src/router/index.ts
  frontend/src/views/AuthView.vue
Labels: Frontend

feat: add ui for forgot password ui (#29)
  frontend/components.d.ts
  frontend/src/components/ForgotPasswordGlass.vue
  frontend/src/router/index.ts
  frontend/src/views/AuthView.vue
Labels: Frontend

feat: connect backend and frontend
  backend/Cargo.lock
  backend/auth-service/Cargo.toml
  backend/auth-service/src/models/forgot_password_link.rs
  backend/auth-service/src/routes/forgot_password.rs
  docker-compose.yaml
  frontend/bun.lockb
  frontend/package.json
  frontend/src/components/AuthGlass.vue
  frontend/src/components/ForgotPasswordGlass.vue
  frontend/src/router/index.ts
  frontend/src/services/api.ts
  frontend/src/services/auth/index.ts
  frontend/src/services/auth/types.ts
  frontend/src/services/types.ts
  frontend/src/stores/auth.ts
  frontend/src/views/AuthView.vue
  frontend/src/views/HomeView.vue
Labels: Frontend, AuthService

.github/labeler.yml:

'Workflow':
- changed-files:
  - any-glob-to-any-file: '.github/workflows/**'

'Frontend':
- changed-files:
  - any-glob-to-any-file: 'frontend/**'

'AuthService':
- changed-files:
  - any-glob-to-any-file: 'backend/auth-service/**'

'EmailService':
- changed-files:
  - any-glob-to-any-file: 'backend/email-service/**'
