Repository BrewingBytes/Brewget, changes with the labels that .github/labeler.yml gives for each.
All labels: Workflow, Frontend, AuthService, EmailService

feat: persist token
  frontend/src/stores/auth.ts
Labels: Frontend

feat: add toast
  frontend/components.d.ts
  frontend/src/App.vue
  frontend/src/components/ForgotPasswordGlass.vue
  frontend/src/main.ts
  frontend/src/router/index.ts
  frontend/src/services/auth/index.ts
  frontend/src/services/types.ts
  frontend/src/stores/auth.ts
  frontend/src/stores/toast.ts
  frontend/src/views/AuthView.vue
  frontend/src/views/HomeView.vue
Labels: Frontend

fix: clippy
  backend/auth-service/src/routes/forgot_password.rs
Labels: AuthService

Connect the auth backend and frontend (#31)
  backend/Cargo.lock
  backend/auth-service/Cargo.toml
  backend/auth-service/src/models/forgot_password_link.rs
  backend/auth-service/src/routes/forgot_password.rs
  docker-compose.yaml
  frontend/bun.lockb
  frontend/components.d.ts
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/AuthGlass.vue
  frontend/src/components/ForgotPasswordGlass.vue
  frontend/src/main.ts
  frontend/src/router/index.ts
  frontend/src/services/api.ts
  frontend/src/services/auth/index.ts
  frontend/src/services/auth/types.ts
  frontend/src/services/types.ts
  frontend/src/stores/auth.ts
  frontend/src/stores/toast.ts
  frontend/src/views/AuthView.vue
  frontend/src/views/HomeView.vue
Labels: Frontend, AuthService

fix: frontend connection to api prod
  docker-compose.yaml
  frontend/package.json
  frontend/src/services/auth/index.ts
Labels: Frontend

fix: frontend connection to api prod (#32)
  docker-compose.yaml
  frontend/package.json
  frontend/src/services/auth/index.ts
Labels: Frontend

feat: add liquid glass navbar
  frontend/components.d.ts
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/FloatingNavbar.vue
  frontend/src/router/index.ts
  frontend/src/views/HomeView.vue
Labels: Frontend

fix: fix
  frontend/src/components/FloatingNavbar.vue
Labels: Frontend

Add navbar to frontend (#44)
  frontend/components.d.ts
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/FloatingNavbar.vue
  frontend/src/router/index.ts
  frontend/src/views/HomeView.vue
Labels: Frontend

feat: add settings service, rust workflow and build workflow
  .github/workflows/backend-build-docker.yml
  .github/workflows/rust.yml
  backend/Cargo.lock
  backend/Cargo.toml
  backend/proto/settings_service.proto
  backend/settings-service/Cargo.toml
  backend/settings-service/Dockerfile
  backend/settings-service/src/app_state.rs
  backend/settings-service/src/config.rs
  backend/settings-service/src/main.rs
  backend/settings-service/src/models.rs
  backend/settings-service/src/models/response.rs
  backend/settings-service/src/models/response/health.rs
  backend/settings-service/src/routes.rs
  backend/settings-service/src/routes/health.rs
Labels: Workflow

feat: add diesel migrations
  backend/proto/settings_service.proto
  backend/settings-service/diesel.toml
  backend/settings-service/migrations/00000000000000_diesel_initial_setup/down.sql
  backend/settings-service/migrations/00000000000000_diesel_initial_setup/up.sql
  backend/settings-service/migrations/2025-09-30-093831-0000_create_settings/down.sql
  backend/settings-service/migrations/2025-09-30-093831-0000_create_settings/up.sql
  backend/settings-service/src/main.rs
  backend/settings-service/src/schema.rs
  docker-compose.yaml
Labels: none

feat: add db methods
  backend/auth-service/migrations/2025-08-13-171838_create_users/down.sql
  backend/settings-service/diesel.toml
  backend/settings-service/migrations/2025-09-30-093831-0000_create_settings/down.sql
  backend/settings-service/migrations/2025-09-30-093831-0000_create_settings/up.sql
  backend/settings-service/src/database.rs
  backend/settings-service/src/database/settings.rs
  backend/settings-service/src/main.rs
  backend/settings-service/src/models/response.rs
  backend/settings-service/src/models/response/error.rs
  backend/settings-service/src/models/response/message.rs
  backend/settings-service/src/models/settings.rs
  backend/settings-service/src/schema.rs
  docker-compose.yaml
Labels: AuthService

feat: add routes
  backend/Cargo.lock
  backend/settings-service/Cargo.toml
  backend/settings-service/src/database/settings.rs
  backend/settings-service/src/models/settings.rs
  backend/settings-service/src/routes.rs
  backend/settings-service/src/routes/user.rs
Labels: none

feat: add docs
  backend/settings-service/src/config.rs
  backend/settings-service/src/database/settings.rs
  backend/settings-service/src/main.rs
  backend/settings-service/src/models/settings.rs
  backend/settings-service/src/routes/user.rs
Labels: none

Add settings service (#45)
  .github/workflows/backend-build-docker.yml
  .github/workflows/rust.yml
  backend/Cargo.lock
  backend/Cargo.toml
  backend/auth-service/migrations/2025-08-13-171838_create_users/down.sql
  backend/settings-service/Cargo.toml
  backend/settings-service/Dockerfile
  backend/settings-service/diesel.toml
  backend/settings-service/migrations/00000000000000_diesel_initial_setup/down.sql
  backend/settings-service/migrations/00000000000000_diesel_initial_setup/up.sql
  backend/settings-service/migrations/2025-09-30-093831-0000_create_settings/down.sql
  backend/settings-service/migrations/2025-09-30-093831-0000_create_settings/up.sql
  backend/settings-service/src/app_state.rs
  backend/settings-service/src/config.rs
  backend/settings-service/src/database.rs
  backend/settings-service/src/database/settings.rs
  backend/settings-service/src/main.rs
  backend/settings-service/src/models.rs
  backend/settings-service/src/models/response.rs
  backend/settings-service/src/models/response/error.rs
  backend/settings-service/src/models/response/health.rs
  backend/settings-service/src/models/response/message.rs
  backend/settings-service/src/models/settings.rs
  backend/settings-service/src/routes.rs
  backend/settings-service/src/routes/health.rs
  backend/settings-service/src/routes/user.rs
  backend/settings-service/src/schema.rs
  docker-compose.yaml
Labels: Workflow, AuthService

fix: docker build for settings
  backend/Dockerfile
  backend/settings-service/Cargo.toml
Labels: none

fix: docker build for settings (#49)
  backend/Dockerfile
  backend/settings-service/Cargo.toml
Labels: none

feat: add more comments to backend
  backend/auth-service/src/config.rs
  backend/auth-service/src/main.rs
  backend/email-service/src/config.rs
  backend/email-service/src/main.rs
  backend/email-service/src/service.rs
Labels: AuthService, EmailService

feat: add more comments to backend (#50)
  backend/auth-service/src/config.rs
  backend/auth-service/src/main.rs
  backend/email-service/src/config.rs
  backend/email-service/src/main.rs
  backend/email-service/src/service.rs
Labels: AuthService, EmailService

feat: add shared library for errors and responses
  backend/Cargo.lock
  backend/Cargo.toml
  backend/auth-service/Cargo.toml
  backend/auth-service/src/database/activation_links.rs
  backend/auth-service/src/database/forgot_password_links.rs
  backend/auth-service/src/database/tokens.rs
  backend/auth-service/src/database/users.rs
  backend/auth-service/src/models/response.rs
  backend/auth-service/src/models/response/health.rs
  backend/auth-service/src/models/response/message.rs
  backend/auth-service/src/models/response/token.rs
  backend/auth-service/src/routes/activate.rs
  backend/auth-service/src/routes/change_password.rs
  backend/auth-service/src/routes/forgot_password.rs
  backend/auth-service/src/routes/health.rs
  backend/auth-service/src/routes/login.rs
  backend/auth-service/src/routes/logout.rs
  backend/auth-service/src/routes/middlewares/auth_guard.rs
  backend/auth-service/src/routes/register.rs
  backend/email-service/Cargo.toml
  backend/settings-service/Cargo.toml
  backend/settings-service/src/database/settings.rs
  backend/settings-service/src/models/response.rs
  backend/settings-service/src/models/response/error.rs
  backend/settings-service/src/models/response/health.rs
  backend/settings-service/src/models/response/message.rs
  backend/settings-service/src/routes/health.rs
  backend/settings-service/src/routes/user.rs
  backend/shared-types/Cargo.toml
  backend/shared-types/README.md
  backend/shared-types/src/error.rs
  backend/shared-types/src/lib.rs
  backend/shared-types/src/response.rs
  docker-compose.yaml
Labels: AuthService, EmailService

feat: add shared library for errors and responses (#52)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/auth-service/Cargo.toml
  backend/auth-service/src/database/activation_links.rs
  backend/auth-service/src/database/forgot_password_links.rs
  backend/auth-service/src/database/tokens.rs
  backend/auth-service/src/database/users.rs
  backend/auth-service/src/models/response.rs
  backend/auth-service/src/models/response/health.rs
  backend/auth-service/src/models/response/message.rs
  backend/auth-service/src/models/response/token.rs
  backend/auth-service/src/routes/activate.rs
  backend/auth-service/src/routes/change_password.rs
  backend/auth-service/src/routes/forgot_password.rs
  backend/auth-service/src/routes/health.rs
  backend/auth-service/src/routes/login.rs
  backend/auth-service/src/routes/logout.rs
  backend/auth-service/src/routes/middlewares/auth_guard.rs
  backend/auth-service/src/routes/register.rs
  backend/email-service/Cargo.toml
  backend/settings-service/Cargo.toml
  backend/settings-service/src/database/settings.rs
  backend/settings-service/src/models/response.rs
  backend/settings-service/src/models/response/error.rs
  backend/settings-service/src/models/response/health.rs
  backend/settings-service/src/models/response/message.rs
  backend/settings-service/src/routes/health.rs
  backend/settings-service/src/routes/user.rs
  backend/shared-types/Cargo.toml
  backend/shared-types/README.md
  backend/shared-types/src/error.rs
  backend/shared-types/src/lib.rs
  backend/shared-types/src/response.rs
  docker-compose.yaml
Labels: AuthService, EmailService

fix: add shared-types to docker build
  backend/Cargo.lock
  backend/Dockerfile
  backend/auth-service/Cargo.toml
  backend/email-service/Cargo.toml
  backend/settings-service/Cargo.toml
  backend/shared-types/Cargo.toml
  docker-compose.yaml
Labels: AuthService, EmailService

fix: add shared-types to docker build (#53)
  backend/Cargo.lock
  backend/Dockerfile
  backend/auth-service/Cargo.toml
  backend/email-service/Cargo.toml
  backend/settings-service/Cargo.toml
  backend/shared-types/Cargo.toml
  docker-compose.yaml
Labels: AuthService, EmailService

feat: clippy
  backend/auth-service/src/app_state.rs
  backend/auth-service/src/database/activation_links.rs
  backend/auth-service/src/database/forgot_password_links.rs
  backend/auth-service/src/database/tokens.rs
  backend/auth-service/src/database/users.rs
  backend/auth-service/src/routes/activate.rs
  backend/settings-service/src/database/settings.rs
  backend/settings-service/src/models/settings.rs
Labels: AuthService

clippy
  backend/Cargo.lock
  backend/settings-service/src/routes/user.rs
Labels: none

cargo fmt
  backend/auth-service/build.rs
  backend/auth-service/src/grpc.rs
  backend/auth-service/src/grpc/auth_service.rs
  backend/auth-service/src/main.rs
  backend/settings-service/src/app_state.rs
  backend/settings-service/src/main.rs
  backend/settings-service/src/routes.rs
  backend/settings-service/src/routes/middlewares/auth_guard.rs
Labels: AuthService

remove {id}
  backend/settings-service/src/routes.rs
  backend/settings-service/src/routes/user.rs
Labels: none

feat: some changes
  backend/settings-service/migrations/202509300938310000_create_settings.up.sql
  frontend/components.d.ts
  frontend/src/components/FloatingNavbar.vue
  frontend/src/services/auth/index.ts
  frontend/src/services/settings/index.ts
  frontend/src/utils/pts/glassButtons.ts
  frontend/src/views/SettingsView.vue
Labels: Frontend

Create UI User Settings with PrimeVue, add gRPC token verification with persistent connection, comprehensive logging, and environment-based API configuration (#56)
  backend/Cargo.lock
  backend/auth-service/Cargo.toml
  backend/auth-service/build.rs
  backend/auth-service/src/config.rs
  backend/auth-service/src/grpc.rs
  backend/auth-service/src/grpc/auth_service.rs
  backend/auth-service/src/main.rs
  backend/proto/auth_service.proto
  backend/settings-service/Cargo.toml
  backend/settings-service/build.rs
  backend/settings-service/migrations/202509300938310000_create_settings.up.sql
  backend/settings-service/src/app_state.rs
  backend/settings-service/src/config.rs
  backend/settings-service/src/grpc.rs
  backend/settings-service/src/grpc/auth_service.rs
  backend/settings-service/src/main.rs
  backend/settings-service/src/routes.rs
  backend/settings-service/src/routes/middlewares.rs
  backend/settings-service/src/routes/middlewares/auth_guard.rs
  backend/settings-service/src/routes/user.rs
  docker-compose.yaml
  frontend/components.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/FloatingNavbar.vue
  frontend/src/router/index.ts
  frontend/src/services/api.ts
  frontend/src/services/auth/index.ts
  frontend/src/services/settings/index.ts
  frontend/src/services/settings/types.ts
  frontend/src/stores/settings.ts
  frontend/src/utils/jwt.ts
  frontend/src/utils/pts/glassButtons.ts
  frontend/src/views/SettingsView.vue
  nginx/conf.d/default.conf
Labels: Frontend, AuthService

fix: settings docker build
  backend/Dockerfile
Labels: none

fix: settings docker build (#62)
  backend/Dockerfile
Labels: none

Replace Docker Compose with Kubernetes deployment with HTTPS/TLS support (#66)
  README.md
  docker-compose.yaml
  k8s/00-namespace.yaml
  k8s/01-shared-config.yaml
  k8s/02-secrets.yaml
  k8s/03-configmaps.yaml
  k8s/04-postgres.yaml
  k8s/05-email-service.yaml
  k8s/06-auth-service.yaml
  k8s/07-settings-service.yaml
  k8s/08-frontend.yaml
  k8s/09-nginx.yaml
  k8s/QUICK_REFERENCE.md
  k8s/README.md
  k8s/TLS_SETUP.md
  k8s/cleanup.sh
  k8s/deploy.sh
Labels: none

fix: image pulling
  k8s/01-shared-config.yaml
  k8s/05-email-service.yaml
  k8s/06-auth-service.yaml
  k8s/07-settings-service.yaml
  k8s/08-frontend.yaml
Labels: none

remove server_name
  frontend/nginx.conf
  k8s/03-configmaps.yaml
  nginx/conf.d/default.conf
Labels: Frontend

Image pulling from ghcr (#69)
  frontend/nginx.conf
  k8s/01-shared-config.yaml
  k8s/03-configmaps.yaml
  k8s/05-email-service.yaml
  k8s/06-auth-service.yaml
  k8s/07-settings-service.yaml
  k8s/08-frontend.yaml
  k8s/09-nginx.yaml
  k8s/README.md
  k8s/TLS_SETUP.md
  nginx/conf.d/default.conf
Labels: Frontend

update version
  frontend/package.json
  k8s/08-frontend.yaml
Labels: Frontend

Fix SPA routing by replacing busybox httpd with nginx in frontend container (#74)
  frontend/Dockerfile
  frontend/package.json
  k8s/08-frontend.yaml
Labels: Frontend

small fixes
  backend/Cargo.lock
  backend/auth-service/Cargo.toml
  frontend/.env.example
  frontend/package.json
  frontend/src/components/AuthGlass.vue
  frontend/src/utils/consts.ts
  k8s/01-shared-config.yaml
  k8s/06-auth-service.yaml
  k8s/08-frontend.yaml
Labels: Frontend, AuthService

Add Cloudflare Turnstile captcha to authentication endpoints (#64)
  CAPTCHA_SETUP.md
  backend/Cargo.lock
  backend/auth-service/Cargo.toml
  backend/auth-service/src/config.rs
  backend/auth-service/src/models/request/forgot_password_info.rs
  backend/auth-service/src/models/request/login_info.rs
  backend/auth-service/src/models/request/register_info.rs
  backend/auth-service/src/routes/forgot_password.rs
  backend/auth-service/src/routes/login.rs
  backend/auth-service/src/routes/register.rs
  backend/auth-service/src/utils.rs
  backend/auth-service/src/utils/captcha.rs
  frontend/.gitignore
  frontend/components.d.ts
  frontend/env.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AuthGlass.vue
  frontend/src/services/auth/index.ts
  frontend/src/stores/auth.ts
  frontend/src/utils/consts.ts
  k8s/01-shared-config.yaml
  k8s/02-secrets.yaml
  k8s/06-auth-service.yaml
  k8s/08-frontend.yaml
  k8s/README.md
Labels: Frontend, AuthService

fix: remove env from k8s
  k8s/08-frontend.yaml
Labels: none

.github/labeler.yml:

'Workflow':
- changed-files:
  - any-glob-to-any-file: '.github/workflows/**'

'Frontend':
- changed-files:
  - any-glob-to-any-file: 'frontend/**'

'AuthService':
- changed-files:
  - any-glob-to-any-file: 'backend/auth-service/**'

'EmailService':
- changed-files:
  - any-glob-to-any-file: 'backend/email-service/**'
